---
layout: page
title: Arlen's Blog
---

{% for post in paginator.posts %}
	<div class="doc-section">
	  <div class="doc-title">
		<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
		<div class="doc-base-info">
		  <div class="doc-time">{{ post.date | date: "%Y-%m-%d" }}</div>
		  <div class="doc-tags"><span class="glyphicon glyphicon-tags"></span> 
			{% for tag in post.tags %}
			  <a href="/tags.html#{{ tag }}">{{ tag }}</a>
			{% endfor %}
		  </div>
		  <div class="clear"></div>
		</div>
	  </div>
	  <div class="doc-excerpt">
		<p>{{ post.excerpt }}</p>
	  </div>
	  <div class="doc-extra">
		<div class="doc-link"><a href="{{ post.url }}"><span class="glyphicon glyphicon-link"></span> 阅读全文</a></div>
		<div class="doc-count"><a>评论(23)</a> 阅读(450)</div>
		<div class="clear"></div>
	  </div>
	</div>
{% endfor %}

<nav>
  <ul class="pager">
	<li class="previous {% if paginator.previous_page_path == nil %} disabled {% endif %}">
	  <a href="{% if paginator.previous_page_path == nil %}{{'javascript:void(0);'}}{% else %}{{ paginator.previous_page_path }}{%endif%}">上一页</a>
	</li>
	<li>{{ paginator.page }}/{{ paginator.total_pages }}</li>
	<li class="next {% if paginator.next_page_path == nil %} disabled {% endif %}">
	  <a href="{% if paginator.next_page_path == nil %}{{'javascript:void(0);'}}{% else %}{{ paginator.next_page_path }}{%endif%}">下一页</a>
	</li>
  </ul>
</nav>