---
layout: default
title: index page
---
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>

{% for post in site.posts %}
<div class="doc-section">
  <div class="doc-title">
	<h1>{{ post.title }}</h1>
	<div class="doc-extra">
	  <div class="doc-time">2014/12/08</div>
	  <div class="doc-tags"><span class="glyphicon glyphicon-tags"></span> <a>spring</a> <a>spring</a></div>
	  <div class="clear"></div>
	</div>
  </div>
  <div class="doc-excerpt">
	<p></p>
  </div>
</div>
{% endfor %}

Hello World
