<header>
    <div class="container">
	  <div id="signature"><span style="">A</span>rlen</div>
	  <div id="top-lion"></div>
	  <nav id="header-nav">
	    <ul class="nav navbar-nav">
		  <li class="active"><a href="/index.html"><span class="glyphicon glyphicon-home"></span>Home</a></li>
		  <li><a href="/archives.html"><span class="glyphicon glyphicon-folder-open"></span>Archives</a></li>
		  <li><a href="/categories.html"><span class="glyphicon glyphicon-th-list"></span>Categories</a></li>
		  <li><a href="/tags.html"><span class="glyphicon glyphicon-tags"></span>Tags</a></li>
		  <li><a href="/about"><span class="glyphicon glyphicon-book"></span>About</a></li>
		  <li><a href="/contact"><span class="glyphicon glyphicon-envelope"></span>Contact</a></li>
		</ul>
	  </nav>
	</div>
  </header>