<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="
	{% if page.description %}
		{{ page.description }}
	{% else %}
		{{ site.description }}
	{% endif %}
  ">
  <meta name="keywords" content="
	{% if page.keywords %}
		{{ page.keywords }}
	{% else %}
		{{ site.keywords }}
	{% endif %}
  ">
  <meta name="author" content="Arlen.Ren">
  
  <title>
	{% if page.title %}
		{{ page.title }}
	{% else %}
		{{ site.title }}
	{% endif %}
  </title>
  
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
  <!-- Bootstrap core CSS -->
  <link href="/assets/bootstrap-3.3.0-dist/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- my style -->
  <link href="/assets/arlen/css/ex-bootstrap.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <a href="#content" class="sr-only sr-only-focusable">跳到正文</a>
  <!--<div id="top-tip">
    <div class="container">
		<span class="glyphicon glyphicon-bell"></span> Stupid is as stupid dose!
	</div>
  </div>-->
  {% include header.html %}
  
  {% include footer.html %}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/assets/bootstrap-3.3.0-dist/js/bootstrap.min.js"></script>
</body>
</html>