---
layout: default
---
<div class="container">
	<div class="row">
	  <div class="col-md-9">
		{{ content }}
	  </div>
	  <!-- end col-md-9 -->
	  <div class="col-md-2 col-md-offset-1">
		<div class="side-section">
		  <h3><a>Categories</a></h3>
		  <ul>
			{% for category in site.categories offset: 1 %}
			  <li><a href="/categories.html#{{ category[0] }}">{{ category[0] }} </a><span>({{ category[1] | size }})</span></li>
			{% endfor %}
		  </ul>
		</div>
		
		<div class="side-section">
		  <h3><a>Tags</a></h3>
		  <ul>
			{% for tag in site.tags %}
			  <li><a href="/tags.html#{{ tag[0] }}">{{ tag[0] }} </a><span>({{ tag[1] | size }})</span></li>
			{% endfor %}
		  </ul>
		</div>
		
		<div class="side-section">
		  <h3><a>Archives</a></h3>
		  <ul>
			{% for post in site.posts%}
				{% capture postDate %}{{ post.date | date: "%Y-%m" }}{% endcapture %}
				{% capture nextPostDate %}{{ post.previous.date | date: "%Y-%m" }}{% endcapture %}
				{% capture index %}{{ index | plus: 1 }}{% endcapture %}
				{% if postDate != nextPostDate %}
					<li><a href="/archives.html#{{ postDate }}">{{ postDate }} </a><span>({{ index }})</span></li>
					{% assign index = 0 %}
				{% endif %}
			{% endfor %}
		  </ul>
		</div>
		
	  </div>
	  <!-- end col-md-3 -->
	</div>
  </div>