---
layout: default
---
<div class="container">
	<div class="row">
	  <div class="col-md-12">
	  
		<div class="doc-section">
		  <div class="doc-title">
			<h1>{% if page.title != nil %}{{ page.title }}{%else%}咦，这家伙忘写标题了，快联系他吧{%endif%}</h1>
			<div class="doc-base-info">
			  <div class="doc-time">2014/12/08</div>
			  <div class="doc-tags"><span class="glyphicon glyphicon-tags"></span> <a>spring</a> <a>spring</a></div>
			  <div class="clear"></div>
			</div>
		  </div>
		  <div class="doc-excerpt">
			<p>{{ content }}</p>
		  </div>
		  <div class="doc-extra">
			<div class=""><a>评论(23)</a> 阅读(450)</div>
			
			<!-- 多说评论框 start -->
			<div class="ds-thread" data-thread-key="{{ page.url }}" data-title="{{ page.title }}" data-url="{{ page.url }}"></div>
			<!-- 多说评论框 end -->
			<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
			<script type="text/javascript">
			var duoshuoQuery = {short_name:"arlen43"};
				(function() {
					var ds = document.createElement('script');
					ds.type = 'text/javascript';ds.async = true;
					ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
					ds.charset = 'UTF-8';
					(document.getElementsByTagName('head')[0] 
					 || document.getElementsByTagName('body')[0]).appendChild(ds);
				})();
			</script>
			<!-- 多说公共JS代码 end -->
		  
			<div class="clear"></div>
		  </div>
		</div>
		
		
		
	  </div>
	  
	</div>
  </div>